.layout{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.header{
    flex-grow: 0;
    background: gray;
    text-align: center;
}
.body{
    flex-grow: 1;
    background: whitesmoke;
}
.footer{
    flex-grow: 0;
    text-align: center;
    background: gray;
}