.layout{
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.header{
    flex-grow: 0;
    background: ghostwhite;
    text-align: center;
}
.body{
    flex-grow: 1;
    background: white;
}
.footer{
    flex-grow: 0;
    text-align: center;
    background: ghostwhite;
}